body {
  color: #000000;
  min-height: 100%;
}

a {
  color: #000000;
  text-transform: none;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 40px 0;
  background-color: #fffefd;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
