.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  background-color: var(--background-color);
  flex-grow: 1;
}

.title {
  margin: 0 0 24px 0;

  font-size: 50px;
  font-weight: 200;
  text-align: center;
}
